# ignore feature computation results
*.h5
*.hdf5
*.csv
*.pkl

#ignore sbatch and slurm output
*.sbatch
*.out

#ignore notebook checkpoint
*.ipynb_checkpoints/

#ignore annotation folder
annotation-server-tools/

#ignore view
view

#ignore itself
.gitignore

#ignore key and cert
*.key
*.pem

#ignore decription scripts
decrypt.py
audio_decryption.py
utils.py
audio_decryption
__pycache__
